<h1>Projects List</h1>

<%= link_to 'New Project', new_project_path %><br>


<%= form_tag projects_path, method: :get, authentication: false, id: 'search-form' do %>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag "Search" %>
<% end %>

<div id="projects_results">
  <%= render @projects %>
</div>
