<h1><%= @project.title %></h1>
<h2><%= @project.category %> Category</h2>
<%= @project.title %><br>
<%= @project.description %><br>
<%= @project.end_date %><br>
<%= "$#{@project.goal}" %><br>
<%= @project.backer_count %>0 Backers<br>
<%= @project.pledge_amount %>0 Pledged<br>
<%= "#{@project.countdown} Days" %>
<br>


<% @project.rewards.order(amount: :asc).each do |reward| %>
  <ul>
    <h3> Reward </h3>
    <em> <%= reward.title %> </em>
    <li> <%= "$#{reward.amount}" %> </li>
    <li> <%= reward.description %> </li>
  </ul>
<% end %>
